<div class="background">

    <div class="login-design">
        <h3>Sign In </h3>
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="login()"  >
            <div class="username">
                <label for="">Correo Electronico</label>
                <input type="text" placeholder="Correo Electronico" formControlName="correo">
            </div>
            <div class="password">
                <label for="">Contraseña</label>
                <input type="password" placeholder="Contraseña" formControlName="password">
            </div>

            <div class="button1">
                <button type="submit">Iniciar Sesión</button>
            </div>

            <span *ngIf="respuestaError" class="texto-advertencia">{{error | titlecase}}</span>

        </form>
    </div>

</div>