<div class="background">

    <div class="login-design">
        <h3>Sign In</h3>
        <form>
            <div class="username">
                <label for="">Nombre de usuario</label>
                <br>
                <input type="text" placeholder="nombre de usuario">
            </div>
            <div class="password">
                <label for="">Contraseña</label>
                <br>
                <input type="password" placeholder="nombre de usuario">
            </div>

            <div class="button1">
                <button>Iniciar Sesión</button>
            </div>

        </form>
    </div>

</div>